
@{
    ViewBag.Title = "Papercon";
}

<h2>@ViewBag.test <span style="color: gray; font-size: 21px;">@ViewBag.test1</span></h2>

<p><strong>Date:</strong> @ViewBag.dates</p>

@foreach (var eachQuestion in ViewBag.questions)
{
    if (@eachQuestion.pageid == 1) 
    {
        <li>@eachQuestion.name</li>

    }
    <div class="form-group" id="page-two">

                @if (@eachQuestion.pageid == 2 && @eachQuestion.fieldtype == 0)
                {
                    <label>@eachQuestion.name</label>
                    <input type="text" class="form-control" />
                }

    </div>
    
} <!-- end foreach loop -->