
@{
    ViewBag.Title = "Papercon";
}

<h2>@ViewBag.test <span style="color: gray; font-size: 21px;">@ViewBag.test1</span></h2>

<p><strong>Date:</strong> @ViewBag.dates</p>

<form>
    <div class="form-group">
        <label for="verifyemail">@ViewBag.question1</label>
        <input type="email" name="email" class="form-control" placeholder="@ViewBag.question1" />
    </div>
</form>

<h3>@ViewBag.questionTitle</h3>

<form>
    <div class="form-group">
        <label for="verifyemail">@ViewBag.question1</label>
        <input type="email" name="email" class="form-control" placeholder="@ViewBag.question1" />
    </div>
</form>